<launch>

  <node name="image_viewer" pkg="rab_bringup" type="image_viewer" output="screen">
    <param name="odom_topic" value="/diff_drive_controller/odom" />
    <param name="first_path" value="$(find rab_bringup)/picture/ubuntu-logo.png" />
    <param name="first_x" value="0.0" />
    <param name="first_y" value="0.0" />
    <param name="second_path" value="$(find rab_bringup)/picture/linux_dekiru.jpeg" />
    <param name="second_x" value="10.0" />
    <param name="second_y" value="10.0" />
    <param name="default_path" value="$(find rab_bringup)/picture/nabe.jpg" />
  </node>
  
</launch>
