<launch>

  <!-- load joint controller configures from YAML file to parameter server -->
  <rosparam file="$(find rab_control)/config/controller.yaml" command="load"/>
  
  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager"
        type="spawner" output="screen"
	args="joint_state_controller diff_drive_controller">
  </node>
  
</launch>